body{
	font-family: corier;
	background-image: url("imgs/background.gif");
	font-family: 'Geostar Fill', cursive;
	color: mediumpurple;
	font-size: 35px;
}
.heading{
	transition: all 0.9s ease;
}
.heading:hover {
  -webkit-transform: rotate(+480deg) scale(2);
  transform: rotate(-360deg) scale(1.5);
  cursor: pointer;
}
.img1{
	position: absolute;
top: 20%;
left: 30%;
transition: all 0.9s ease;
}
.img1:hover {
  -webkit-transform: rotate(-480deg) scale(2);
  transform: rotate(-360deg) scale(1.5);
  cursor: pointer;
}
.img2{
	position: absolute;
top: 50%;
left: 50%;
transition: width 2s;
}
.img2:hover {
  width: 300px;
}

.img3{
position: absolute;
top: 50%;
left: 3%;
animation-name: example2;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
}
@keyframes example2 {
  from {top: 420px;}
  to {top: 120px;}
 } 

.img4{
position: absolute;
top: 10%;
left: 60%;
animation-name: example3;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
}
@keyframes example3 {
  from {left: 0px;}
  to {right: 320px;}
 } 

.text1{
  width: 500px;
  height: 80px;
background: rgb(185,95,254);
background: radial-gradient(circle, rgba(185,95,254,1) 0%, rgba(249,251,131,1) 50%, rgba(255,73,220,1) 100%);
  transition: width 2s, height 2s;
position: absolute;
	top: 70%;
	left: 16%;
	color: deeppink;
	font-family: 'Geostar Fill', cursive;
	font-size: 20px;
}
.text1:hover {
  width: 200px;
  height:170px;
}

.text2{
	width: 180px;
  height: 220px;
	position: absolute;
	top: 20%;
	left: 50%;
	transition: all 0.9s ease;
	font-family: 'Geostar Fill', cursive;
	font-size: 20px;
	color: greenyellow;
	background: rgb(223,255,103);
background: linear-gradient(0deg, rgba(223,255,103,1) 0%, rgba(107,45,253,1) 100%);
}
.text2:hover {
  -webkit-transform: rotate(-480deg) scale(2);
  transform: rotate(-360deg) scale(1.5);
  cursor: pointer;
}
.text3{
width: 160px;
  position: absolute;
  animation-name: ani;
  animation-duration: 4s;
  animation-direction: reverse; 
  color: lightgray;
  font-family: 'Geostar Fill', cursive;
	font-size: 20px;
}
@keyframes ani {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:400px; top:400px;}
  75%  {left:600px; top:0px;}
  100% {left:800px; top:400px;}
}
.text4{
  width: 150px;
  height: 280px;
  background: rgb(103,226,255);
background: linear-gradient(0deg, rgba(103,226,255,1) 0%, rgba(253,45,157,1) 100%);
  position: absolute;
  top: 50%;
  left:82%;
   font-family: 'Geostar Fill', cursive;
	font-size: 20px;
 color: lightyellow;
 transition: width 2s, height 2s;
}
.text4:hover {
  width: 200px;
  height:180px;
}
