body{
	background-image:url(imgs/background.gif) ;
	background-repeat: repeat;
font-family: 'Fredoka One', cursive;
  font-size:35px;
}
.h1{
	font-size: 60px;
	font-weight: 700;
	color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #4dc1f9, 0 0 5px #dfff67;
}
.entry1{
	position: absolute;
	top: 30%;
	left: 8%;
  text-decoration: none;
  color:#8bebff;
font-weight: 400;
outline-style: dotted;
outline-width: 4px;
transition: all 0.9s ease;
}
.entry1:hover {
  text-decoration: underline;
  -webkit-transform: rotate(-480deg) scale(2);
  transform: rotate(-360deg) scale(1.5);
  cursor: pointer;
}
.entry1:active {
  text-decoration: underline;}

.entry2{
	position: absolute;
	top: 30%;
	left: 33%;
  text-decoration: none;
  color:#ff8bf7;
font-weight: 400;
outline-style: dotted;
outline-width: 4px;
transition: all 0.9s ease;
}

.entry2:hover {
  text-decoration: underline;
  -webkit-transform: rotate(-480deg) scale(2);
  transform: rotate(-360deg) scale(1.5);
  cursor: pointer;
}
.entry2:active {
  text-decoration: underline;}


.entry3{
	position: absolute;
	top: 30%;
	left: 58%;
  text-decoration: none;
  color:#b98bff;
font-weight: 400;
outline-style: dotted;
outline-width: 4px;
transition: all 0.9s ease;
}

.entry3:hover {
  text-decoration: underline;
  -webkit-transform: rotate(-480deg) scale(2);
  transform: rotate(-360deg) scale(1.5);
  cursor: pointer;
}
.entry3:active {
  text-decoration: underline;}

.entry4{
	position: absolute;
	top: 30%;
	left: 83%;
  text-decoration: none;
  color:#8bffa8;
font-weight: 400;
outline-style: dotted;
outline-width: 4px;
transition: all 0.9s ease;
}

.entry4:hover {
  text-decoration: underline;
  -webkit-transform: rotate(-480deg) scale(2);
  transform: rotate(-360deg) scale(1.5);
  cursor: pointer;
}
.entry4:active {
  text-decoration: underline;}

 .entry5{
	position: absolute;
	top: 60%;
	left: 8%;
  text-decoration: none;
  color:#f7ff8b;
font-weight: 400;
outline-style: dotted;
outline-width: 4px;
transition: all 0.9s ease;
}

.entry5:hover {
  text-decoration: underline;
  -webkit-transform: rotate(-480deg) scale(2);
  transform: rotate(-360deg) scale(1.5);
  cursor: pointer;
}
.entry5:active {
  text-decoration: underline;}


.entry6{
  position: absolute;
  top: 60%;
  left: 33%;
  text-decoration: none;
  color:#ffab00;
font-weight: 400;
outline-style: dotted;
outline-width: 4px;
transition: all 0.9s ease;
}

.entry6:hover {
  text-decoration: underline;
  -webkit-transform: rotate(-480deg) scale(2);
  transform: rotate(-360deg) scale(1.5);
  cursor: pointer;
}
.entry6:active {
  text-decoration: underline;}

.entry7{
  position: absolute;
  top: 60%;
  left: 58%;
  text-decoration: none;
  color:#389aff;
font-weight: 400;
outline-style: dotted;
outline-width: 4px;
transition: all 0.9s ease;
}

.entry7:hover {
  text-decoration: underline;
  -webkit-transform: rotate(-480deg) scale(2);
  transform: rotate(-360deg) scale(1.5);
  cursor: pointer;
}
.entry7:active {
  text-decoration: underline;}

.entry8{
  position: absolute;
  top: 60%;
  left: 83%;
  text-decoration: none;
  color:#f670ff;
font-weight: 400;
outline-style: dotted;
outline-width: 4px;
transition: all 0.9s ease;
}

.entry8:hover {
  text-decoration: underline;
  -webkit-transform: rotate(-480deg) scale(2);
  transform: rotate(-360deg) scale(1.5);
  cursor: pointer;
}
.entry8:active {
  text-decoration: underline;}


.entry9{
  position: absolute;
  top: 90%;
  left: 8%;
  text-decoration: none;
  color:#2fee35;
font-weight: 400;
outline-style: dotted;
outline-width: 4px;
transition: all 0.9s ease;
}

.entry9:hover {
  text-decoration: underline;
  -webkit-transform: rotate(-480deg) scale(2);
  transform: rotate(-360deg) scale(1.5);
  cursor: pointer;
}
.entry9:active {
  text-decoration: underline;}

.entry10{
  position: absolute;
  top: 90%;
  left: 33%;
  text-decoration: none;
  color:#bf58ff;
font-weight: 400;
outline-style: dotted;
outline-width: 4px;
transition: all 0.9s ease;
}

.entry10:hover {
  text-decoration: underline;
  -webkit-transform: rotate(-480deg) scale(2);
  transform: rotate(-360deg) scale(1.5);
  cursor: pointer;
}
.entry10:active {
  text-decoration: underline;}

 .entry11{
  position: absolute;
  top: 90%;
  left: 58%;
  text-decoration: none;
  color:#f5eb15;
font-weight: 400;
outline-style: dotted;
outline-width: 4px;
transition: all 0.9s ease;
}

.entry11:hover {
  text-decoration: underline;
  -webkit-transform: rotate(-480deg) scale(2);
  transform: rotate(-360deg) scale(1.5);
  cursor: pointer;
}
.entry11:active {
  text-decoration: underline;}


.text1{
width: 250px;
  background: -webkit-linear-gradient(lightgreen, orange);
  transition: width 1s, height 4s;
  font-family: 'Permanent Marker', cursive;
 font-size: 20px;
 position: absolute;
	top:10%;
	left: 1%;
	right: 90%;
	color: ghostwhite;
  transition: 2s;
}
.text1:hover {
  width: 400px;
  font-size: 25px;
}

.text2{
width: 430px;
  background: rgb(251,63,168);
background: radial-gradient(circle, rgba(251,63,168,1) 17%, rgba(70,230,252,1) 84%);
  transition: width 1s, height 2s;
 font-family: 'Permanent Marker', cursive;
 font-size: 20px;
 position: absolute;
	top:37%;
	left: 68%;
	color: ghostwhite;
  transition: 3s;
}
.text2:hover {
  width: 190px;
  font-size: 25px;
}

.text3{
  position: absolute;
  top:70%;
  left:75%;
  width: 230px;
  font-family: 'Permanent Marker', cursive;
 font-size: 20px;
 color: ghostwhite;
 transition: 3s;
background: linear-gradient(90deg, rgba(246,158,225,1) 0%, rgba(181,254,147,1) 51%, rgba(202,170,251,1) 100%);
}
.text3:hover{
width: 300px;
font-size: 25px;
}

.text4{
  position: absolute;
  top:66%;
  left:20%;
  width: 300px;
  font-family: 'Permanent Marker', cursive;
 font-size: 20px;
 color: ghostwhite;
 transition: 3s;
background: linear-gradient(90deg, rgba(183,158,246,1) 0%, rgba(147,237,254,1) 51%, rgba(255,197,19,1) 100%);
}
  
.text4:hover{
  width: 500px;
font-size: 25px;
}

