* {
    padding: 5px;
    margin: 10px;
}
Body{
  background-image: url("imgs/background.gif");
  background-repeat: repeat-y;
  padding: 10px;
}
h1{
	background-color: ;
	font-family: 'Gochi Hand', cursive;
	text-align: center;
	font-size: 70px;
	color: floralwhite;
}
.faerie {

  background-color: #f474ce;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}
.faerie:hover {
  cursor: pointer;
  background: linear-gradient(270deg, #c874f4, #f4747b, #7483f4, #74c4f4, #74f4c8);
  background-size: 1000% 1000%;

  -webkit-animation: slideBackground 3s ease infinite;
  -moz-animation: slideBackground 3s ease infinite;
  animation: slideBackground 3s ease infinite;
}

    @-webkit-keyframes slideBackground {
        0%{background-position:0% 50%}
        50%{background-position:80% 50%}
        100%{background-position:0% 30%}
    }
    @-moz-keyframes slideBackground {
        0%{background-position:0% 50%}
        50%{background-position:80% 50%}
        100%{background-position:0% 30%}
    }
    @keyframes slideBackground {
        0%{background-position:0% 50%}
        50%{background-position:80% 50%}
        100%{background-position:0% 30%}
    }
p{
  font-family: 'Covered By Your Grace', cursive;
  font-size: 30px;
  color: lightpink;
}

.rotatepicture {
transition: all 0.9s ease;
}

.rotatepicture:hover {
  -webkit-transform: rotate(-480deg) scale(2);
  transform: rotate(-360deg) scale(1.5);
  cursor: pointer;
}

.img1{
  position: absolute;
  top:75%;
  left: 0%;
  right: 100%;
  border-radius:80%;
}

.img2{
  position: absolute;
  top:10%;
  left: 68%;
  right: 32%;

}

.text{
  width: 300px;
  height: 150px;
  background: -webkit-linear-gradient(#fff35d, #ffc471);
  transition: width 2s, height 2.5s;
 color: orange;
 font-size: 25px;
 position: absolute;
  top:25%;
  left: 20%;
  right: 80%;
}
.text:hover {
  width: 150px;
  height:250px;
}

.text1{
  width: 120px;
  height: 270px;
  background: -webkit-linear-gradient(#f28aff, #1bfff1);
  transition: width 2s, height 2.5s;
 color: navajowhite;
 font-size: 25px;
 position: absolute;
  top:50%;
  left: 70%;
  right: 30%;
}
.text1:hover {
  width: 200px;
  height:180px;
}

.text2{
  width: 400px;
  height: 150px;
  background: -webkit-linear-gradient(#beff8c, #ff8aac);
  transition: width 2s, height 2.5s;
 color: floralwhite;
 font-size: 25px;
 position: absolute;
  top:96%;
  left: 60%;
  right: 40%;
}
.text2:hover {
  width: 200px;
  height:250px;
}

.text3{
  width: 240px;
  height: 380px;
  position: absolute;
  animation-name: example;
  animation-duration: 4s;
  animation-direction: reverse; 
  color: greenyellow;
  font-size: 35px;
font-family: 'Hachi Maru Pop', cursive;
}
@keyframes example {
  0%   {background-color:#9bff60; left:0px; top:0px;}
  25%  {background-color:#ff6060; left:200px; top:0px;}
  50%  {background-color:#60ffeb; left:200px; top:200px;}
  75%  {background-color:#fffb60; left:0px; top:200px;}
  100% {background-color:#6091ff; left:0px; top:0px;}
}

.link{
	color: #fad435;
	text-decoration: none;
	background-color: #ffe3fe;
	transition: all 0.2s ease;
}

.link:hover {
  background-color: ghostwhite;
}
.link:visited{
	color: blueviolet;
}
