body{
	background: #F75640;
	font-family: 'Oswald', sans-serif;
	margin-left: 5vw;
}
body:hover{
	background: white;
}
a{
	text-decoration: none;
}
.container {
	color: white;
}

.container:hover {
	color: #F75640;
}

.container:hover h2 {
	opacity: 100%;
}

h1 {
	font-size:13vw;
	line-height:1.1;
	font-weight: 700;
	max-width: 400px;
	margin: 0;
	margin-top:6rem;
}

h2 {
	margin: 0;
	font-size:6vw;
	opacity: 0%;
	font-weight: 400;
}
