body{
	background:#F75640;
	font-family: 'Oswald', sans-serif;
	color:white;
}
h1{
	margin-left: 5vw;
	font-weight: 400;
	font-size: 5vw;
}
h2{
	margin-left: 5vw;
	font-weight: 500;
	font-size: 11vw;
}
h2:hover{
	cursor: pointer;
	color: transparent;
	-webkit-text-stroke-width: 1px;
 	-webkit-text-stroke-color: white;
}
h3{
	text-align: right;
	margin-right: 5vw;
	font-weight: 500;
	font-size: 11vw;
	color: transparent;
	-webkit-text-stroke-width: 1px;
 	-webkit-text-stroke-color: white;
 }
 h3:hover{
 	cursor: pointer;
 	color: white;
 	-webkit-text-stroke-width: 0px;
 }
 h4{
 	text-align: right;
 	margin-right: 5vw;
 	font-weight: 400;
	font-size: 5vw;
	color: transparent;
	-webkit-text-stroke-width: 1px;
 	-webkit-text-stroke-color: white;
 }
