body{
	padding: 10px;
background-image: url("imgs/background.gif");
}
.h1{
	font-family: 'Lobster', cursive;
	font-size: 70px;
	color: floralwhite;
}

.h1 {
  background: -webkit-linear-gradient(#b171ff, #f47cc3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.8s ease;
}

.h1:hover {
  background: -webkit-radial-gradient(#eafc36, #bafb83, #ffe449);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.pic1{
	max-width: 1000px;
}
.text1{
	width:300px ;
	font-size: 40px;
	font-family: 'Pacifico', cursive;
	color: #ff4993;
  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
  @keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:200px; top:-200px;}
  75%  {left:0px; top:-200px;}
  100% {left:0px; top:0px;}
}
.pic2{
	max-width: 300px;
	position: absolute;
	top: 80%;
	left: 2%;
	border-radius: 50%;;
}
.pic3{
	max-width: 300px;
	position: absolute;
	top: 76%;
	left: 70%;
}
.text2{
	width:200px ;
	font-size: 20px;
	font-family: 'Pacifico', cursive;
	color: floralwhite;
  position: absolute;
  top:40%;
  left: 27%;

}
