body{
	background-image: url("imgs/entry3-bg.gif");
	background-repeat: repeat;
	background-color:lightgreen; 
	font-family: 'Permanent Marker', cursive;
}
h1{
	color: ghostwhite;
	font-size: 120px;
	font-family: 'Luckiest Guy', cursive;
}
h2{

}
.special1{
  font-size: 30px;
  color: lightyellow;
font-family: 'Rock Salt', cursive;

}
.special2{
	font-size: 80px;
	color: skyblue;
	font-family: 'Rubik Burned', cursive;
}
.special3{
	font-size: 100px;
	color: hotpink;
font-family: 'Press Start 2P', cursive;
}
.special4{
	font-size: 200px;
	color: orange;
	font-family: 'Aclonica', sans-serif;
}
.special5{
	font-size: 260px;
	color: purple;
	font-family: 'Monoton', cursive;
}
h3{
	font-size: 175px;
	color: antiquewhite;
	font-family: 'Rubik Marker Hatch', cursive;
}
h4{
	font-size:80px;
	color: orangered;
}

.text{
  width: 150px;
  background: #ff8aac;
  position: absolute;
  left:80%;
  right:20%;
  animation-name: example;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
 
 color: lightyellow;
 font-size: 25px;
}

@keyframes example {
  from {top: 0px;}
  to {top: 900px; background-color: #ffc471;}
}
.text1{
	width: 400px;
  background: -webkit-linear-gradient(#ffc71b, #fd1d83);
  transition: width 2s, height 3s;
 color: ghostwhite;
 font-size: 25px;
 position: absolute;
	top:110%;
	left: 35%;
}
.text1:hover {
 width: 170px;
}
.text2{
  width: 280px;
  position: absolute;
  font-size: 25px;
color: lightpink;
  animation: myfirst 8s linear 2s infinite alternate;
}

@keyframes myfirst {
  0%   {background-color:#00d4ff; left:800px; top:200px;}
  25%  {background-color:#004aff; left:600px; top:300px;}
  50%  {background-color:mediumpurple; left:900px; top:400px;}
  75%  {background-color:#00d4ff; left:600px; top:300px;}
  100% {background-color:#004aff; left:800px; top:200px;}
}

.text3{
	width: 600px;
  background: radial-gradient(circle, rgba(217,63,251,1) 17%, rgba(202,252,70,1) 84%);
  transition: width 2s, height 3s;
 color: lightcyan;
 font-size: 25px;
 position: absolute;
	top:170%;
	left: 30%;
	right: 70%;
}
.text3:hover {
 width: 320px;
}

.text4 {
  width: 160px;
 background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(55,237,239,1)100%);
  transition: width 2s, height 2s, transform 2s;
  position: absolute;
	top:260%;
	left: 30%;
	right: 70%;
	font-size: 25px;
	color: white;
}

.text4:hover {
  width: 300px;
  transform: rotate(180deg);
}
