body{
	padding: 10px;
background-image: url("imgs/background.gif");
}
.h1{
	font-family: 'Lobster', cursive;
	font-size: 70px;
	color: floralwhite;
}

.h1 {
  background: -webkit-linear-gradient(#b171ff, #f47cc3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.8s ease;
}

.h1:hover {
  background: -webkit-radial-gradient(#eafc36, #bafb83, #ffe449);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.pic1{
	max-width: 1000px;
}
.text1{
	width:300px ;
	font-size: 40px;
	font-family: 'Permanent Marker', cursive;
	color: lightpink;
  position: relative;
  animation-name: example1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.text1:hover{
  color:#ff4993 ;
  cursor: pointer;
}
  @keyframes example1 {
  0%   {left:100px; top:-100px;}
  25%  {left:300px; top:-100px;}
  50%  {left:300px; top:-250px;}
  75%  {left:100px; top:-250px;}
  100% {left:100px; top:-100px;}
}
.pic2{
	max-width: 250px;
	position: absolute;
	top: 12%;
	left: 5%;
	border-radius: 50%;;
	animation: spinType 4s ease-in-out;
  transition: 3s;
}
.pic2:hover{
border-radius: 10%;;
cursor: pointer;
}

@keyframes spinType {
  0% {
    transform: rotate(0.5turn);
  }
  60% {
    color: whitesmoke;
    transform: rotate(0.7turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
.pic3{
	max-width: 300px;
	position: absolute;
	top: 76%;
	left: 70%;
	transition: all 0.9s ease;
}
.pic3:hover {
  -webkit-transform: rotate(-480deg) scale(2);
  transform: rotate(-360deg) scale(1.5);
  cursor: pointer;
}

.text2{
	width:200px ;
	font-size: 20px;
	font-family: 'Permanent Marker', cursive;
	color: floralwhite;
  position: absolute;
  left: 27%;
  top: 40%;
  animation-name: example;
  animation-duration: 3s ;
  transition: 3s;
}
.text2:hover{
  font-size: 25px;
  width: 300px;
  cursor: pointer;
}
@keyframes example {
  from {top: 0px;}
  to {top: 40%;}
}
.text3{
  width: 300px;
  font-family: 'Permanent Marker', cursive;
  font-size: 23px;
color: floralwhite;
position: absolute;
  left: 70%;
  top: 25%;
  color: #faffc3;
  transition: width 2s;
}
.text3:hover{
width: 230px;
color: #ffab00;
cursor: pointer;

}
