body{
	background-image: url("imgs/background.gif");
	padding: 5px;
}

.h1{
	font-family: 'Dancing Script', cursive;
	font-size: 70px;
	background: -webkit-linear-gradient(#ffe3fe, #00d4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease;
}
.h1:hover {
  background: -webkit-radial-gradient(#fe5f5f, #fbbb83, #ffde49);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.imgfilters img {
  display: block;
  margin: 0 auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  padding: 60px 0 60px 0;
}

.imgfilters img:hover {
  filter: none;
  cursor: pointer;
}

.pic1{
	position: absolute;
	top: 20%;
	left:10%;
transition: all 0.9s ease;
}

.pic1:hover {
  -webkit-transform: rotate(-480deg) scale(2);
  transform: rotate(-360deg) scale(1.5);
  cursor: pointer;
}

.pic2{
	position: absolute;
	top: 78%;
	left:65%;
	animation-name: example;
	animation-duration: 3s;  
}
@keyframes example {
  from {top: 0px;}
  to {top: 78%;}
}

.text1{
width: 400px;
  font-family: 'Permanent Marker', cursive;
  background: radial-gradient(circle, rgba(252,54,54,1) 0%, rgba(251,131,220,1) 50%, rgba(255,152,73,1) 100%);
  transition: width 2s, height 3s;
 color: ghostwhite;
 font-size: 20px;
 position: absolute;
	top:99%;
	left: 45%;
	right: 55%;
}
.text1:hover {
 width: 150px;
}
.text2{
   font-size: 30px;
  color: ghostwhite;
font-family: 'Permanent Marker', cursive;
position: absolute;
	top: 33%;
	left: 30%;
}
.text3{
	width: 250px;
  position: absolute;
background: linear-gradient(90deg, rgba(251,236,133,1) 0%, rgba(254,147,147,1) 51%, rgba(250,158,208,1) 100%);
  top:70%;
	left: 5%;
  transition: width 3s, height 3s;
  animation-direction: reverse; 
  color: ghostwhite;
  font-size: 20px;
font-family: 'Permanent Marker', cursive;
}
.text3:hover {
 width: 320px;
}

.text4{
  width: 240px;
  background: linear-gradient(0deg, rgba(255,171,0,1) 0%, rgba(183,158,246,1) 100%);
  position: absolute;
  left:80%;
  right:20%;
  animation-name: example3;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
font-family: 'Permanent Marker', cursive;
 color: ghostwhite;
 font-size: 20px;
 transition: width 2s, height 2s;
}
@keyframes example3 {
  from {top: 520px;}
  to {top: 50px;}
}

