body{
	background: white;
	color:#F75640;
	font-family: 'Oswald', sans-serif;
	font-size:3vw;
}

.Back{
	position:absolute;
    top:10%;
    left:13.5%;
    transform:translate(-50%,-50%);
    font-size: 4vw;
    color:#F75640;
}

.Back > a{
    color: transparent;
	-webkit-text-stroke-width: 0.7px;
 	-webkit-text-stroke-color: #F75640;
    text-decoration: none;
}

.Back > a:hover {
    color:#F75640;
}

.Paragraph{
	position:absolute ;
	top: 50%;
	left:50%;
    transform:translate(-50%,-50%);
	width: 80vw;
  	height: 65vh;
}

.Paragraph {
  	margin: 0 0 1.5em;
}

.Colon-and-Semicolon {
	position:absolute;
  	top:50%;
  	left:50%;
  	transform:translate(-50%,-50%);
  	font-size: 20vw;
}

.Colon-and-Semicolon > a{
	color: transparent;
	-webkit-text-stroke-width: 1px;
 	-webkit-text-stroke-color: #F75640;
  	text-decoration: none;
}

@media screen and (max-width: 600px) {

body{
    color:black;
}

.Back > a{
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.Back > a:hover{
    color: black;
}

.Colon-and-Semicolon {
    font-size: 30vw;
}

.Colon-and-Semicolon > a{
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
}
